# Ignora todo
*

# Incluye todo lo necesario para que EAS no pete
!android/**
!assets/**
!app/**
!components/**
!constants/**
!hooks/**
!node_modules/**
!package.json
!eas.json
!app.json
!babel.config.js
!index.js
!tsconfig.json
!tsconfig.base.json
!metro.config.js
!*.ts
!*.tsx
